body {
  font-family: Helvetica, Arial;
  margin: 0;
}

nav {
  background-color: #eb2000;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 0;
}
nav ul {
  list-style: none;
  overflow: hidden;
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0px;
}
nav ul li {
  float: left;
  width: 50%;
  min-width: 150px;
}
@media all and (min-width: 600px) {
  nav ul li {
    width: 25%;
  }
}
nav ul li a {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
  box: border-box;
}
nav ul li a:hover {
  background-color: #b81900;
}

#banner {
  height: 150px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 0;
  background: url("../img/carbon-fibre.png") repeat;
  position: relative;
}
#banner h1 {
  font-size: 30px;
  font-family: newyork;
  font-style: italic;
  text-align: center;
  padding-top: 30px;
}
@media all and (min-width: 600px) {
  #banner h1 {
    text-align: left;
    padding-top: 60px;
    padding-left: 20px;
  }
}
#banner h1 a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}
#banner h1 a:hover {
  color: rgba(57, 214, 255, 0.5);
}
#banner #search {
  display: inline-block;
  padding-left: calc(50% - 95px);
}
@media all and (min-width: 600px) {
  #banner #search {
    position: absolute;
    top: 62px;
    right: 60px;
  }
}

#categories {
  width: 100%;
  max-width: 1284px;
  margin: 0 auto;
  padding-left: 0;
}
#categories ul {
  list-style: none;
  overflow: hidden;
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0px;
}
@media all and (min-width: 1280px) {
  #categories ul {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
}
#categories ul li {
  float: left;
  width: 50%;
  min-width: 150px;
}
@media all and (min-width: 600px) {
  #categories ul li {
    width: 25%;
  }
}
@media all and (min-width: 1280px) {
  #categories ul li {
    width: 12.5%;
  }
}
#categories ul li a {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  border: 1px solid #666;
  transition: all 0.5s;
}
#categories ul li a:hover {
  color: #00a7d2;
  border: 1px solid #00a7d2;
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 0;
  height: 400px;
  background-color: #00a7d2;
}

footer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 0;
  border-bottom: 10px solid #00a7d2;
  background: url("../img/carbon-fibre.png") repeat;
  position: relative;
}
footer #find-info {
  border-bottom: 2px solid #00a7d2;
  padding-bottom: 10px;
}
footer #find-info:after {
  content: "";
  display: block;
  clear: both;
}
footer #red-head {
  background-color: #eb2000;
  color: #fff;
  text-align: center;
}
footer #red-head h1 {
  font-size: 25px;
  line-height: 40px;
}
footer #address {
  padding-top: 15px;
}
@media all and (min-width: 600px) {
  footer #address {
    padding-left: calc(25% - 150px);
  }
}
@media all and (min-width: 1280px) {
  footer #address {
    width: 33%;
    padding-left: 50px;
    float: left;
  }
}
footer #address h2 {
  font-size: 22px;
  padding-left: 10px;
  text-align: center;
}
@media all and (min-width: 600px) {
  footer #address h2 {
    text-align: left;
    padding-left: 20px;
  }
}
footer #address p {
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 20px;
  text-align: center;
}
@media all and (min-width: 600px) {
  footer #address p {
    text-align: left;
    padding-left: 20px;
  }
}
footer h2,
footer p {
  color: #fff;
}
footer #trading-hours {
  padding-bottom: 20px;
}
@media all and (min-width: 600px) {
  footer #trading-hours {
    padding-left: calc(25% - 150px);
  }
}
@media all and (min-width: 1280px) {
  footer #trading-hours {
    width: 33%;
    padding-left: 20px;
    float: left;
  }
}
footer #trading-hours h2 {
  font-size: 22px;
  padding-left: 10px;
  text-align: center;
}
@media all and (min-width: 600px) {
  footer #trading-hours h2 {
    text-align: left;
    padding-left: 20px;
  }
}
footer #trading-hours p {
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 20px;
  text-align: center;
}
@media all and (min-width: 600px) {
  footer #trading-hours p {
    text-align: left;
    padding-left: 20px;
  }
}
footer #static-map {
  padding-bottom: 25px;
}
footer #static-map img {
  margin-left: calc(50% - 150px);
}
@media all and (min-width: 600px) {
  footer #static-map img {
    position: absolute;
    top: 150px;
    right: calc(25% - 150px);
  }
}
@media all and (min-width: 1280px) {
  footer #static-map img {
    top: 95px;
    right: calc(33% - 350px);
  }
}
footer #footer-nav {
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
}
footer #footer-nav ul {
  list-style: none;
  overflow: hidden;
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0px;
}
footer #footer-nav ul li {
  float: left;
  width: 50%;
  min-width: 150px;
}
@media all and (min-width: 600px) {
  footer #footer-nav ul li {
    width: 25%;
  }
}
@media all and (min-width: 1280px) {
  footer #footer-nav ul li {
    width: 12.5%;
  }
}
footer #footer-nav ul li a {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #00a7d2;
  transition: all 0.5s;
}
footer #footer-nav ul li a:hover {
  color: #eb2000;
}

#categories ul li a {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+17,666666+19,666666+19,474747+29,2c2c2c+37,000000+57,000000+57,111111+71,1c1c1c+91,2b2b2b+95,131313+100 */
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 17%, #666666 19%, #666666 19%, #474747 29%, #2c2c2c 37%, black 57%, black 57%, #111111 71%, #1c1c1c 91%, #2b2b2b 95%, #131313 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 17%, #666666 19%, #666666 19%, #474747 29%, #2c2c2c 37%, black 57%, black 57%, #111111 71%, #1c1c1c 91%, #2b2b2b 95%, #131313 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 17%, #666666 19%, #666666 19%, #474747 29%, #2c2c2c 37%, black 57%, black 57%, #111111 71%, #1c1c1c 91%, #2b2b2b 95%, #131313 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  /* IE6-9 */
}

/*# sourceMappingURL=styles.css.map */
