@mixin border-radius($radius) {

	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius; 
}


@mixin bp-mini {
	@media all and (min-width: 450px) {
		@content;
	}
}


@mixin bp-tablet {
	@media all and (min-width: 605px) {
		@content;
	}
}

@mixin bp-desktop {
	@media all and (min-width: 1280px) {
		@content;
	}
}

@mixin clearfix {
	content: "";
	display: block;
	clear: both;
}


