@import 'colors';
@import 'mixins';






body {
	font-family: Helvetica, Arial;
	margin: 0;
}

nav {
	background-color: $brandColor1;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 0;
	border-bottom: 5px solid #666;

	ul {
		list-style: none;
		overflow: hidden;
		padding-left: 0px;
		margin-top: 0;
		margin-bottom: 0px;

		li {
			float: left;
			width: 50%;
			min-width: 150px;

			@include bp-tablet {
				width: 25%;
			}

			a {
			text-align: center;
			font-size: 20px;
			padding: 10px 0;
			display: block;
			width: 100%;
			color: #fff;
			text-decoration: none;
			transition: all 0.5s;
			box: border-box;

				&:hover {
					background-color: darken($brandColor1, 10%);
				}	
			}
		}
	}	
}

#banner {
	height: 150px;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 0;
	background: url("../img/carbon-fibre.png") repeat;
	position: relative;

	h1 {
		font-size: 40px;
		font-family: newyork;
		font-style: italic;
		text-align: center;
		margin-top: 0;
		padding-top: 20px;

		@include bp-tablet {
			text-align: left;
			position: absolute;
			left: 20px;
			top: 40px;
					
		}

		a {
			color: transparentize(lighten($brandColor2, 20%), .5);
			text-decoration: none;
			transition: all 0.5s;

			&:hover {
				color: transparentize(darken($brandColor2, 20%), .2);
			}
		}
	}

	#search {
		display: inline-block;
		// padding-left: calc(50% - 95px);
		position: absolute;
		bottom: 15px;
		left: calc(50% - 95px);

		@include bp-tablet {
				// position: absolute;
				top: 20px;
				left: calc(100% - 230px);
		}

	}
}

#categories {
	width: 100%;
	max-width: 1284px;
	margin: 0 auto;
	padding-left: 0;

	ul {
		list-style: none;
		overflow: hidden;
		padding-left: 0px;
		margin-top: 0;
		margin-bottom: 0px;
		@include bp-desktop {
				@include border-radius(3px);
			}

		li {
			float: left;
			width: 50%;
			min-width: 150px;

			@include bp-tablet {
				width: 25%;
			}
			
			@include bp-desktop {
				width: 12.5%;
			}

			a {
			text-align: center;
			font-size: 18px;
			padding: 10px 0;
			display: block;
			width: 100%;
			color: #fff;
			text-decoration: none;
			border: 1px solid #666;
			transition: all 0.5s;
			
			
				&:hover {
				color: $brandColor2;
				border: 1px solid $brandColor2;

				}
			}
		}	
	}
}


// Placeholder code here for main

main {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 0;
	// height: 600px;
	background-color: #eee;
	padding-bottom: 20px;
	margin-top: 0;

	h1	{
		font-size: 30px;
		margin-top: 0;
		text-align: center;
		padding-top: 20px;
		color: $brandColor2;
	}

	h2 {
		font-size: 20px;
		color: #333;
		text-align: center;
		transition: all 0.5s;

		&:hover {
				color: $brandColor2;
		}

	}

	p {
		font-size: 20px;
		color: #333;

	}

	a {
		text-decoration: none;
		color: #999;
	}

	// #home-feature {

	// 	@include bp-tablet {
	// 		padding-left: calc(50% - 305px);
	// 		padding-right: calc(50% - 305px);

	// 	}

	// 	img {
	// 		max-width: 100%;
	// 		height: auto;
	// 		border-top: 5px solid #fff;
	// 		border-bottom: 5px solid #fff;
	// 		transition: all 0.5s;
	// 		box-sizing: border-box;

	// 		&:hover {
	// 			border-top: 5px solid lighten($brandColor2, 30%);
	// 			border-bottom: 5px solid lighten($brandColor2, 30%);
	// 		}

	// 		@include bp-tablet {
	// 		border: 5px solid #fff;
	// 		max-width: 600px;
	// 		}
	// 	}

	// 	p {
	// 		text-align: center;
	// 	}
	// }

	// .sub-feature,
	// .mobile-cat 	{
		
	// 	padding: 10px 30px 10px 20px;

	// 	@include bp-mini {
	// 		padding-left: calc(50% - 205px);
	// 		padding-right: calc(50% - 205px);
	// 			}


	// 	img {
	// 		margin: 0;
	// 		max-width: 100%;
	// 		height: auto;
	// 		border: 5px solid #fff;
	// 		transition: all .5s;

	// 		&:hover {
	// 			border-top: 5px solid lighten($brandColor2, 30%);
	// 			border-bottom: 5px solid lighten($brandColor2, 30%);
	// 		}

	// 	}

	// 	p {
	// 		font-size: 18px;
	// 		transition: all 0.5s;

	// 		&:hover {
	// 			color: $brandColor2;
	// 		}
	// 	}
	// }

	#home-feature {
		
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		padding: 0;
	
		p {
			margin-bottom: 0;
			padding: 20px 10px 20px 10px;
		}

		img {
			width: 100%;
			height: auto;
			box-sizing: border-box;
			border-top: 5px solid #fff;
			border-bottom: 5px solid #fff;
			transition: all 0.5s;

			&:hover {
				border-top: 5px solid lighten($brandColor2, 30%);
				border-bottom: 5px solid lighten($brandColor2, 30%);
			}

			@include bp-tablet {
				border: 5px solid #fff;

				&:hover {
				border: 5px solid lighten($brandColor2, 30%);
				}
			}
		}
	}

	.mobile-cat-head {
		background-color: $brandColor1;
		color: #fff;
		text-align: center;
		border-bottom: 6px solid #666;
		border-top: 6px solid #666;
		margin-bottom: 10px;
		transition: all 0.5s;


		&:hover {
					background-color: darken($brandColor1, 10%);
		}
		
		h1 {font-size: 25px;
		line-height: 30px;
		color: #999;
		margin-top: 0;
		padding-top: 15px;
		
		}
	}





	#subset-features	{

		&:after {
			content: "";
			display: block;
			clear: both;
		
		}

		@include bp-tablet	{
			// background-color: orange;
			max-width: 800px;
			margin: 0 auto;

		}

		.sub-feature  	{
			max-width: 400px;
			margin: 0 auto;
			padding: 20px 20px 10px 20px;

			&#new 	{
				// background-color: pink;
			}

			&#hot 	{
				// background-color: blue;
			}

			// @include bp-tablet {
			// 	padding-right: 0;
			// }

			img {
				width: 100%;
				height: auto;
				box-sizing: border-box;
				border: 5px solid #fff;
				transition: all 0.5s;

				&:hover {
					border: 5px solid lighten($brandColor2, 30%);
					
				}
			}
			p {
				font-size: 18px;
				transition: all 0.5s;

				&:hover {
					color: $brandColor2;
				}
			}
				
		}

		.sub-feature {
			
			@include bp-tablet {
				max-width: 40%;


				// float: left;
				
				img	{
					max-width: 100%;
				}

				&#new	{
					float: left;
				}

				&#hot 	{
					float: right;
				} 


				&#pick	{
					display: none;
				} 	
			}
		}
	}	

	.mobile-cat		{
		max-width: 400px;
		margin: 0 auto;
		padding: 20px 20px 10px 20px;

		@include bp-tablet 	{
			display: none;
		}

		img {
			width: 100%;
			height: auto;
			box-sizing: border-box;
			border: 5px solid #fff;
			transition: all 0.5s;

			&:hover {
				border: 5px solid lighten($brandColor2, 30%);
				
			}
		}
		p {
			font-size: 18px;
			transition: all 0.5s;

			&:hover {
				color: $brandColor2;
			}
		}
	}

	.cat-section {
		
		display: none;

		p {
			font-size: 16px;
		}

		&:after	{
			content: "";
			display: block;
			clear: both;
		}
		
		@include bp-tablet {
			display: inline-block;
		}

		.cat-product {
		
			width: 25%;
			float: left;
			padding: 5px;
			box-sizing: border-box;


			&#cat-product-d1,
			&#cat-product-d2 {
			display: none;
			}

			@include bp-desktop{
				width: 16.66%;

				&#cat-product-d1,
				&#cat-product-d2 {
				display: inline-block;
				}
			}


			img	{
				width: 100%;
				height: auto;
			}

		}	

	}

}








// Footer code here

footer {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 0;
	border-bottom: 10px solid #666;
	background: url("../img/carbon-fibre.png") repeat;
	position: relative;

	#find-info {

		border-bottom: 2px solid $brandColor2;
		padding-bottom: 10px;
		position: relative;

		&:after {
		content: "";
		display: block;
		clear: both;
		}
	}

	#red-head {
		background-color: $brandColor1;
		color: #fff;
		text-align: center;
		border-bottom: 6px solid #666;
		border-top: 6px solid #666;
		
		h1 {font-size: 30px;
		line-height: 40px;
		color: #999;
		margin-top: 0;
		padding-top: 20px;
		}
	}

	#address {

		padding-top: 15px;

		@include bp-tablet {
			padding-left: calc(25% - 150px);
		}

		@include bp-desktop {
			 	width: 33%;
			 	padding-left: 50px;
			 	float: left;
		}

		h2 {
		font-size: 22px;
		padding-left: 10px;
		text-align: center;

				@include bp-tablet {
				text-align: left;
				padding-left: 20px;
			}
		}	

		p {
		margin-top:5px;
		margin-bottom: 3px;
		font-size: 20px;
		text-align: center;
		
			@include bp-tablet {
				text-align: left;
				padding-left: 20px;
			}
		}
	}

	
	h2,
	p {
		color: #fff;

	}

	#trading-hours {

		padding-bottom: 20px;

		@include bp-tablet {
			padding-left: calc(25% - 150px);
		}

		@include bp-desktop {
			 	width: 33%;
			 	padding-left: 20px;
			 	float: left;
		}

		h2 {
		font-size: 22px;
		padding-left: 10px;
		text-align: center;

			@include bp-tablet {
				text-align: left;
				padding-left: 20px;
			}
		}	

		p {
		// padding-left: 10px;
		margin-top:5px;
		margin-bottom: 3px;
		font-size: 20px;
		text-align: center;
		
			@include bp-tablet {
				text-align: left;
				padding-left: 20px;
			}
		}
	}
	
	#static-map {
		
		padding-bottom: 25px;

		img {
			margin-left: calc(50% - 150px);
			
			@include bp-tablet {
				position: absolute;
				top: 90px;
				right: calc(25% - 150px);
			}

			@include bp-desktop {
				top: 40px;
				right: calc(33% - 360px);
			}
		}
	}

	#footer-nav {
		width: 100%;
		margin: 0 auto;
		padding-left: 0;

		ul {
			list-style: none;
			overflow: hidden;
			padding-left: 0px;
			margin-top: 0;
			margin-bottom: 0px;

			li {
				float: left;
				width: 50%;
				min-width: 150px;

				@include bp-tablet {
					width: 25%;
				}
				
				@include bp-desktop {
					width: 12.5%;
				}

				a {
				text-align: center;
				font-size: 18px;
				padding: 10px 0;
				display: block;
				width: 100%;
				color: #fff;
				text-decoration: none;
				border-bottom: 2px solid $brandColor2;
				transition: all 0.5s;
				
				
					&:hover {
					color: $brandColor1;

					}
				}
			}	
		}
	}
}



















// Pure CSS goes here

#categories ul li a {

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+17,666666+19,666666+19,474747+29,2c2c2c+37,000000+57,000000+57,111111+71,1c1c1c+91,2b2b2b+95,131313+100 */
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 17%, rgba(102,102,102,1) 19%, rgba(102,102,102,1) 19%, rgba(71,71,71,1) 29%, rgba(44,44,44,1) 37%, rgba(0,0,0,1) 57%, rgba(0,0,0,1) 57%, rgba(17,17,17,1) 71%, rgba(28,28,28,1) 91%, rgba(43,43,43,1) 95%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 17%,rgba(102,102,102,1) 19%,rgba(102,102,102,1) 19%,rgba(71,71,71,1) 29%,rgba(44,44,44,1) 37%,rgba(0,0,0,1) 57%,rgba(0,0,0,1) 57%,rgba(17,17,17,1) 71%,rgba(28,28,28,1) 91%,rgba(43,43,43,1) 95%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 17%,rgba(102,102,102,1) 19%,rgba(102,102,102,1) 19%,rgba(71,71,71,1) 29%,rgba(44,44,44,1) 37%,rgba(0,0,0,1) 57%,rgba(0,0,0,1) 57%,rgba(17,17,17,1) 71%,rgba(28,28,28,1) 91%,rgba(43,43,43,1) 95%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

















